<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Streams Marsview.AI Playground</title>
    <meta name="description" content="Google Cloud Speech Recognition with Node and Socket.io">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css">
    <link rel="stylesheet" href="https://d1sv72xa22bi8g.cloudfront.net/realtime/style.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-bold font-large">
                        <span>
                            <img class="marsview-logo" class="img-fluid"
                                src="https://d1sv72xa22bi8g.cloudfront.net/assets_four_zero/logo/logo-white.png">
                        </span>Streams Playground</h2>
                </div>
            </div>

            <div class="step-1">
                <h1 class="display-4">Step 1</h1>
                <p>Generate your token</p>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <form id="token-form">
                            <div class="form-group">
                                <input class="form-control" name="apikey" placeholder="API Key" type="text" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="apisecret" placeholder="API Secret" type="text"
                                    required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="userid" placeholder="User ID" type="text" required>
                            </div>
                            <input id="tokenbutton" class="btn btn-primary" value="Get Token" type="submit">Get
                            Token</input>
                            <span>Get your API key and secret from <a href="https://app.marsview.ai" target="_blank"
                                    class="text-primary">here</a></span>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <textarea id="tokenarea" class="form-control" rows="3" placeholder="Generated Token"
                            readonly></textarea>
                        <span style="color:red" id="errorname"></span>
                    </div>
                </div>
            </div>

            <div class="step-2 mt-5">
                <h1 class="display-4">Step 2</h1>
                <p>Get transaction ID and channel ID</p>
                <code id="crendiatls-code"></code>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <form id="channel-form">
                            <div class="form-group">
                                <label for="channelnumber">Select the number of channels</label>
                                <select id="channelnumber">
                                    <option label="1">1</option>
                                    <option label="2">2</option>
                                    <option label="3">3</option>
                                    <option label="4">4</option>
                                    <option label="5">5</option>
                                    <option label="6">6</option>
                                    <option label="7">7</option>
                                    <option label="8">8</option>
                                    <option label="9">9</option>
                                    <option label="10">10</option>
                                </select>
                            </div>
                            <button type="submit" id="transButton" class="btn btn-primary">Get Credentials</button>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <textarea id="channelarea" class="form-control" rows="3" placeholder="API Credentials"
                            readonly></textarea>
                    </div>
                </div>
            </div>


            <div class="step-3 mt-5">
                <h1 class="display-4">Step 3</h1>
                <p>Connect to stream.marsview.ai</p>
                <button id="setButton" class="btn btn-primary">Connect socket</button>
                <p class="text-success" id="setmessage"></p>
            </div>

            <div class="step-3 mt-5">
                <h1 class="display-4">Step 4</h1>
                <p>Start recording from microphone.</p>
                <!-- Audio element to write the stream audio -->
                <audio></audio>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="buttons-continer mt-3">
                            <button id="startRecButton" type="button" class="btn btn-primary"><span
                                    id="recordingStatus">&nbsp;</span> Start recording</button>
                            <button id="stopRecButton" type="button" class="btn btn-danger"> Stop recording</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="card mt-3">
                            <div class="card-header">Output</div>
                            <div class="card-body p-1">
                                <pre class="result-container" id="result-container">
                                    <code id="results3" class="language-json"></code>
                                </pre>
                                <!-- <textarea id="results3" class="result-container"></textarea> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Nlp -->
    <script src="https://unpkg.com/compromise@11.14.3/builds/compromise.min.js"></script>

    <!-- Socket -->
    <script src="assets/js/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-json.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js" defer>
    </script>

    <!-- Client -->
    <script src="assets/js/client.js"></script>
</body>

</html>